<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}App title{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  </head>
  <body>
    <div id="page-wrap">
      <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  App Title
              </a>
            </div>
          </div>
        </div>
      </header>
      
      <div class="container body-container">
        <div id="message-error" class="message message-error" style="display: {% if app.session.flashbag.peek('error') is empty %}none{% else %}block{% endif %};">
            {% for flashMessage in app.session.flashbag.get('error') %}
                {{ flashMessage }}
            {% endfor %}
        </div>
        <div id="message-feedback" class="message message-feedback" style="display: none;"></div>
        {% block body %}{% endblock %}     
      </div>
    </div> <!-- // page-wrap -->

    <footer>
      <div class="container">
        <div class="footer-copyright">
          <p>&copy; 2015 - Nobody</p>
          <p>MIT Ліцензія</p>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>